  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">One Vill</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Welcome Nikhil</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid dashboard-container">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ui-sref-active="active" ui-sref=".userProfile"><a>User Profile</a></li>
            <li ui-sref-active="active" ui-sref=".family"><a>Family</a></li>
            <li ui-sref-active="active" ui-sref=".bank"><a href="#">Bank</a></li>
            <li ui-sref-active="active" ui-sref=".land"><a href="#">Land/Corps</a></li>
            <li ui-sref-active="active" ui-sref=".health"><a href="">Health</a></li>
            <li ui-sref-active="active" ui-sref=".finance"><a href="">Finance</a></li>
            <li ui-sref-active="active" ui-sref=".livestock"><a href="">Live Stock</a></li>
            <li ui-sref-active="active" ui-sref=".serviceRequest"><a href="">Service Request</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header" style="color:black;">Welcome Nikhil</h1>
			<div ui-view></div>
       
        </div>
      </div>
    </div>